<style>
  .div_for_iframe {
    width    : 900px;
    height   : 700px;
    overflow : hidden;
    position : relative;
  }

  .iframe_for_remote_url {
    position : absolute;
    top      : -50px;
    left     : 0;
    width    : 1150px;
    height   : 947px;
  }

  .div_for_inner_iframe {
    width    : 900px;
    height   : 480px;
    overflow : hidden;
    position : relative;
  }

  .iframe_for_inner_page {
    position : absolute;
    top      : -10px;
    left     : -5px;
    width    : 900px;
    height   : 480px;
  }
</style>


<a name="my_works"></a>

<div class="row">
  <hr>
  <div class="large-12 columns title" >
    <h4>Мои работы</h4>
    <p><ul><li>Сферические панорамы</li></ul></p>
    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <li>
        <a href="#" data-reveal-id="production_view"><%= image_tag('ustir_o_1.jpg', border: 0, title: 'Для просмотра кликните на изображение') %></a>

        <div id="production_view" class="reveal-modal" data-reveal role="dialog">
          <h1>Производство</h1>
          <div class="div_for_inner_iframe">
            <iframe class="iframe_for_inner_page" scrolling="no" src="/production_view"></iframe>
          </div>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
      </li>
      <li>
        <a href="#" data-reveal-id="augustov"><%= image_tag('augustow.jpg', border: 0, title: 'Для просмотра кликните на изображение') %></a>

        <div id="augustov" class="reveal-modal" data-reveal role="dialog">
          <%= render 'augustow_canal' %>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
      </li>
      <li>
        <a href="#" data-reveal-id="park_of_gilibert"><%= image_tag('gilibert.jpg', border: 0, title: 'Для просмотра кликните на изображение') %></a>

        <div id="park_of_gilibert" class="reveal-modal" data-reveal role="dialog">
          <%= render 'park_of_gilibert' %>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
      </li>

    </ul>
  </div>
  <div class="row">
    <hr>
    <div class="large-12 columns">
      <p><ul><li>Виртуальные туры</li></ul></p>
      <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-5">
        <li>
          <a href="http://www.360cities.net/image/park-zhiliber-old-building-of-the-university" target="_blank">
            <%= image_tag('old_building.jpg', border: 0, title: 'Для просмотра кликните на изображение') %>
          </a>
        </li>
        <li>
          <a href="http://www.360cities.net/image/park-850-years-grodno" target="_blank">
            <%= image_tag('850let.jpg', border: 0, title: 'Для просмотра кликните на изображение')  %>
          </a>
        </li>
        <li>
          <a href="http://www.360cities.net/image/park-zhiliber-masson-house" target="_blank">
            <%= image_tag('mason_house.jpg', border: 0, title: 'Для просмотра кликните на изображение') %>
          </a>
        </li>
        <li>
          <a href="http://www.360cities.net/image/park-zhiliber-autumn" target="_blank">
            <%= image_tag('autumn_park.jpg', border: 0, title: 'Для просмотра кликните на изображение') %>
          </a>
        </li>
        <li>
          <a href="http://www.360cities.net/image/grodno-urban-patio" target="_blank">
            <%= image_tag('dvor_disk.jpg', border: 0, title: 'Для просмотра кликните на изображение') %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>