<%= stylesheet_link_tag 'portfolio-theme' %>
<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="#my_works" class="button">Мои работы</a></li>
        <li><a href="#contacts" class="button">Связаться со Мной</a></li>
      </ul>
    </div>
    <a href="#">
      <h1><%= content_for(:title, @title) %></h1>
      <h2>Виртуальные туры</h2>
      <h3>Сфиреческие панорамы</h3>
    </a>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div id="slider">
      <%= render 'main_image' %>
    </div>
  </div>
</div>

<%= render 'about' %>

<%= render 'my_works' %>

<%= render 'contacts' %>

<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <p>© Фотограф Вячеслав Полежаев. Copyright <%= Time.now.year%>. <br/> Все права защищены.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#my_works">Мои работы</a></li>
          <li><a href="#contacts">Связаться со Мной</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>